<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <style>
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  border-color: #000000;
}

.container {

 
  text-align: center;
  display: grid;

  border-radius: 18px;
  background-color: #c6dbff;
  padding: 50px;

  box-shadow: 1px 1px 20px #005effe0;
 

 
}
.in{
  display: flex;
}


h1,h2 {
  color: #000000;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

input,select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4582eb;
  border-radius: 5px;
}

button {
  background-color: #fff;
  color: #0004ff;
  padding: 12px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
 margin: 10px;
  box-shadow: 0px 0px 10px #005effe0;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8fbfff;
  transform: scale(1.1);
}

input::placeholder {
  color: black;
  font-weight: 500;
}
button,input,select,label,h1,h2,.in,.container{
  opacity: 0;
    
  animation-name: cd-fade-in-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes cd-fade-in-up {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

    </style>
</head>
<body>
    <div class="container">
    <h1>See Scores</h1>
    <form action="/resulta" method="post">
        <label for="subjectSelect">Select a Subject :</label>
        <select id="subjectSelect" name="subjectSelect" required>
            <option value="maths">Maths</option>
            <option value="os">Operatign Systems</option>
            <option value="adld">ADLD and CO</option>
            <option value="dsa">DSA</option>
            <option value="bt">Bio-Technology</option>
        </select>

        
        <button type="submit">SHOW</button>
    </form>

</div>
</body>
</html>
